# Read the SPI(Social Progress Index) file

## Scope
* Read the spi.csv file in a pandas dataframe.
* Print head of the dataframe.

## Summary
- Successfully read the file and previewed it.
- There are 169 rows and 18 columns in the file.

## Imports

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read csv
df = pd.read_csv('C:/Users/Tanish/Desktop/SPI-Analysis-Project/Data/spi.csv')

In [3]:
# Preview
df.head()

,spi_rank,country,spi_score,basic_human_needs,wellbeing,opportunity,basic_nutri_med_care,water_sanitation,shelter,personal_safety,access_basic_knowledge,access_info_comm,health_wellness,env_quality,personal_rights,personal_freedom_choice,inclusiveness,access_adv_edu
0,1,Norway,92.63,95.29,93.30,89.30,98.81,98.33,93.75,90.29,98.66,95.80,89.32,89.44,96.34,91.16,83.77,85.92
1,2,Finland,92.26,95.62,93.09,88.07,98.99,99.26,96.48,87.75,96.32,95.14,85.73,95.15,96.13,88.10,82.81,85.23
2,3,Denmark,92.15,95.30,92.74,88.41,98.62,98.21,94.92,89.46,97.44,98.18,85.15,90.20,97.08,90.03,81.64,84.89
3,4,Iceland,91.78,96.66,93.65,85.04,98.99,98.82,93.16,95.66,99.51,93.12,91.02,90.93,95.14,88.01,77.63,79.39
4,5,Switzerland,91.78,95.25,93.80,86.28,98.72,98.96,92.97,90.35,98.60,95.07,91.50,90.05,96.69,90.65,74.81,82.99

In [4]:
# Shape
df.shape

(169, 18)